.Weather {
  width:700px;
  margin: 0 auto;
  padding: 30px 50px;
  border: 1px solid #b1b3b6;
  border-radius: 5px;
}

li {
  list-style: none;
}


.search-form {
  margin-top: 20px;
  margin-bottom: 50px;
  
}

.btn {
  width: 120px;
}

.city-weather {
  text-align: left;
  font-size: 18px;
}

.city-name {
  font-size: 34px;
  font-weight: 500;
}

.weather-icon {
  width: 60px;
  height: 60px;
}

.temperature {
  line-height: 56px;
  font-size: 50px;
}

.celsius {
  position: relative;
  top: -22px;
  
}

.weather-stats {
  font-size: 18px;
}